@model ApplicationRole
@{
    ViewData["Title"] = "Update Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h3>@ViewData["Title"]</h3>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <span>Role Name</span>
                        <input asp-for="Name" name="Name" value="@Model.Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    @if (Model.NormalizedName != null)
                    {
                        <div class="form-group">
                            <span>Role Normalized Name</span>
                            <input asp-for="NormalizedName" name="NormalizedName" value="@Model.NormalizedName" class="form-control" />
                            <span asp-validation-for="NormalizedName" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <span>Role Normalized Name</span>
                            <input asp-for="NormalizedName" name="NormalizedName" class="form-control" />
                            <span asp-validation-for="NormalizedName" class="text-danger"></span>
                        </div>
                    }
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Update Role" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            @if (TempData["success"] != null)
            {
                <h3 style="color:black">@TempData["success"]</h3>
            }
            else
            {
                <h3 style="color:black">@TempData["error"]</h3>
            }
        </div>
    </div>
</div>